@import './_variables.scss';
.background {
    display: inline-block;
    width: 100vmax;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    filter: saturate(50%);
    position: fixed;
    z-index: -100;
}
    .nav {
        @include table;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100px;
        margin-bottom: 6rem;
        a {
            font-size: 2rem;
            text-decoration: underline #3334;
            &:hover {
                text-decoration: underline #333;
            }
        }
    }

 
    .table {
        @include table;
        display: grid;
        margin: 40px 80px;
        width: calc(100% - 160px);
        padding: 0 1rem 2rem;
        height: auto;
        font-size: 2rem;
        border: 1px solid transparent;
        border-radius: 1rem;
    }
        .table .fullscreen {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            position: fixed;
            background: #ddd;
            z-index: 100;
            border: 1px solid transparent;
            border-radius: 1rem;
            transform: scale(1.1);
            .close {
                @include placeCenter;
                position: absolute;
                right: 1.6rem;
                top: 1.6rem;
                width: 3rem;
                height: 3rem;
                background: #8888;
                border: 1px solid transparent;
                border-radius: 0.4rem;
            }
            .close:hover {
                background: #dddd;
                border: 2px solid $fontBlack;
                cursor: pointer;
            }
            span {
                margin: 2rem;
            }  
            input {
                margin: 2rem;
                padding: 2rem;
                @include button;
            }     
        }
        .table .fullscreen.hidden {
            display: none;
        }

        .table h2 {
            display: inline-block;
            width: calc(100% - 24px);
            text-align: center;
            margin: 12px;
            text-decoration: underline #3334;
        }
        .table .restore {
            display: inline-block;
            width: 100%;
            height: auto;
            input {
                @include placeCenter;
                @include button;
                width: 20%;
                margin: 0.3rem 5% 0.3rem 75%;
                height: 2rem;
            }
        }
        .table .contents {
            display: grid;
            width: 100%;
            padding: 20px 0;
        }
            .table .contents span {
                @include placeCenter;
                width: 100%;
            }
        .table .line {
            display: grid;
            width: 100%;
            padding: 4px;
        }
        .table .line:nth-of-type(even) {
            background-color: #3333;
            border-radius: 0.2rem;
        }

            .line .value {
                @include placeCenter;
                padding: 5px;
                width: 100%;
                height: auto;
                font-size: 1.5rem;
            }
            .line .actions {
                @include placeCenter;
                grid-template-columns: repeat(4, 1fr);
                width: 92%;
                margin-left: 4%;
                padding: 0.2rem;
                height: auto;
                background: #5552;
                border: 1px solid transparent;
                border-radius: 0.4rem;
            }
                .actions label {
                    @include placeCenter;
                    @include button;
                    width: 70%;
                    margin: 0rem 15%;
                    height: auto;
                }
                .actions label.delete {
                    padding: 0.2rem;
                    font-size: 1.5rem;
                    background: #d334;
                    box-shadow: 0 0 1px 1px $fontError;
                    &:hover {
                        background: #f336;
                        box-shadow: 0 0 3px 1px $fontError;
                    }
                }
                .actions .amount {
                    @include placeCenter;
                    width: 100%;
                    height: auto;
                }
                .actions input.hidden {
                    display: none;
                }
                .actions span {
                    @include placeCenter;
                    grid-column: auto / span 4;
                    width: 100%;
                    padding: 0.2rem;
                    font-size: 1.4rem;
                    color: $fontError;
                }

@media (max-width: 850px) {
    .table {
        margin: 40px 30px;
        width: calc(100% - 60px);
    }
}
@media (max-width: 750px) {
    .table {
        margin: 40px 4px;
        width: calc(100% - 8px);
    }
}
    