body {
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    background: #ddd;
}
.background {
    display: inline-block;
    width: 100vmax;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    filter: saturate(50%);
    position: fixed;
    z-index: -100;
}
    .nav {
        display: grid;
        place-items: center;
        width: 100%;
        height: 120px;
        background: #ddde;
        margin-bottom: 6rem;
    }
    .table {
        display: grid;
        margin: 40px 80px;
        width: calc(100% - 160px);
        height: auto;
        background: linear-gradient(0.2turn, #dddd, #dea1, #eee3);
        backdrop-filter: blur(14px);
        font-size: 2rem;
        border: 1px solid transparent;
        border-radius: 1rem;
        box-shadow: 1px 1px 10px 4px inset #eee6;
    }
    .table .contents {
        display: grid;
        width: 100%;
        padding: 20px 0;
    }
    .table .contents span {
        display: grid;
        place-items: center;
        width: 100%;
    }
    .table div.line {
        display: grid;
        width: 100%;
    }
    .line .value {
        display: grid;
        place-items: center;
        padding: 5px;
        width: 100%;
        height: auto;
        font-size: 1.6rem;
    }
    